@import "src/scss/_variables";

.chart {
  background: $grey;

  &__content {
    min-width: 360px;
    min-height: 180px;
    height: 100%;

    @media screen and (min-width: $lg) {
      min-height: 200px;
    }

    @media screen and (min-width: $lg) {
      min-height: 260px;
    }

    .content__chart {
      height: 100%;
      max-height: 270px;
    }
  }
}
