<div class="card simple-card" [ngStyle]="imgStyle" *ngIf="poolInfo">
  <div class="simple-card__data">
    <p>
      <span class="blue">Earning Rate:</span><br /><span class="count dark">{{ poolInfo.apy }}%</span>
    </p>
    <p>
      <span class="blue">Locked (USD):</span><br /><span class="count dark">${{ poolInfo.tvl }}</span>
    </p>
    <button class="button button_flat-blue d-none d-lg-block" [routerLink]="'/pool/' + poolInfo.id">VIEW</button>
    <button class="button button_flat-blue button_rounded d-lg-none d-md-block" [routerLink]="'/pool/' + poolInfo.id">
      VIEW
    </button>
  </div>
  <div class="simple-card__token">
    <div class="token">
      <p class="font-weight-bold dark">{{ poolInfo.symbol }}</p>
      <img [src]="tokenIco" alt="Token icon" />
    </div>
  </div>
</div>
