<section id="blog" class="blog">
  <div class="blog__wrapper wrapper padding">
    <h2 class="blog__title title dark text-center">OUR BLOG</h2>
    <div class="blog__container row">
      <app-blog-card class="blog__card col-12 col-lg-4"></app-blog-card>
      <app-blog-card class="blog__card col-12 col-lg-4"></app-blog-card>
      <app-blog-card class="blog__card col-12 col-lg-4"></app-blog-card>
      <div class="blog__fade col-12 d-md-none"></div>
    </div>
    <div class="blog__button d-flex justify-content-center">
      <button class="button button_flat-dark d-md-none">READ MORE</button>
    </div>
  </div>
  <div class="decore decore_first d-none d-lg-block"></div>
  <div class="decore decore_second d-none d-lg-block"></div>
</section>
