@import "src/scss/_variables";

.popup-wallet {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 6px;
  cursor: default;
  align-items: flex-end;
  width: 250px;

  &__wrapper {
    height: 100%;
    width: 100%;
    background: rgba($light, 0.3);
  }

  &__backdrop {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  &__content {
    position: relative;
    z-index: 10;
    border-radius: 19px;
    padding: 1rem 0;
    height: 170px;
    width: 250px;
    background: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
  }

  &__button {
    width: 145px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 20px;
      margin-right: 0.5rem;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 24px;
  }

  &__text {
    font-size: 12px;
    line-height: 24px;
  }

  &__icon {
    height: 20px;
  }

  &__close {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
    cursor: pointer;
  }
}
