<footer class="footer" [ngClass]="{ dark: apperance == 'dark', blue: apperance == 'blue' }">
  <div class="footer__wrapper wrapper">
    <div class="footer__element d-none d-lg-flex">
      <div class="footer__logo">
        <img class="logo" src="assets/images/logo/logo.svg" alt="Pegasus logotype" />
        <img class="logo-text" src="assets/images/logo/logo_text.svg" alt="Pegasus logotype text" />
      </div>
    </div>
    <div class="footer__element justify-content-start justify-content-lg-center">
      <div class="footer__socials">
        <a [href]="socialLinks.facebook" target="_blank" class="footer__soclink" rel="noopener noreferrer"
          ><img src="assets/images/socials/facebook.svg" alt="Facebook icon"
        /></a>
        <a [href]="socialLinks.instagram" target="_blank" class="footer__soclink" rel="noopener noreferrer"
          ><img src="assets/images/socials/instagram.svg" alt="Instagram icon"
        /></a>
        <a [href]="socialLinks.twitter" class="footer__soclink" target="_blank" rel="noopener noreferrer"
          ><img src="assets/images/socials/twitter.svg" alt="Twitter icon"
        /></a>
      </div>
    </div>
    <div class="footer__element">
      <ul class="footer__links">
        <li>ALL RIGHTS RESERVED</li>
        <li>|</li>
        <li class="footer__special"><a href="">PRIVACY POLICY</a></li>
      </ul>
    </div>
  </div>
</footer>
