<section class="features wrapper padding margin">
  <h2 class="title">FEATURES</h2>
  <div class="row">
    <div class="col-12 col-lg-4 features__block d-flex flex-column align-items-center">
      <div class="block__image">
        <img
          src="../../../assets/images/content/7.svg"
          alt=""
          data-aos="fade-in"
          data-aos-easing="ease-out-cubic"
          data-aos-once="true"
        />
      </div>
      <h3 class="block__title light">Optimized Strategies</h3>
      <p class="text-center light">
        Pegasus Pools have a large set of strategies in the background which are routinely queried for their forecasted
        returns and user’s funds are automatically rebalanced to the most yielding strategies.
      </p>
    </div>
    <div class="col-12 col-lg-4 features__block d-flex flex-column align-items-center mt-4 m-lg-0">
      <div class="block__image">
        <img
          src="../../../assets/images/content/8.svg"
          alt=""
          data-aos="fade-in"
          data-aos-easing="ease-out-cubic"
          data-aos-delay="200"
          data-aos-once="true"
        />
      </div>
      <h3 class="block__title light">Simple & User-friendly</h3>
      <p class="text-center light">
        Pegasus provides an intuitive web page for all Investments and investing and withdrawing is as simple as click a
        button.
      </p>
    </div>
    <div class="col-12 col-lg-4 features__block d-flex flex-column align-items-center mt-4 m-lg-0">
      <div class="block__image">
        <img
          src="../../../assets/images/content/9.svg"
          alt=""
          data-aos="fade-in"
          data-aos-easing="ease-out-cubic"
          data-aos-delay="400"
          data-aos-once="true"
        />
      </div>
      <h3 class="block__title light">Low Maintenance</h3>
      <p class="text-center light">
        Once deposited, you can safely let the assets sit, everything will be managed by our smartcontracts. At any
        time, you can just withdraw assets with the achieved returns and have liquid capital again.
      </p>
    </div>
  </div>
</section>
