@import "src/scss/_variables";

.altcoins {
  &__wrapper {
    overflow-x: auto;
  }

  .table {
    table-layout: fixed;

    &__head {
      vertical-align: middle;
    }

    &__ico {
      width: 12px;

      @media screen and (min-width: $lg) {
        width: 20px;
      }
    }

    th,
    td {
      padding: 10px 2px;
      vertical-align: middle;
    }

    th {
      border: 1px solid rgba($dark, 0.33);
      border-right: none;
      border-left: none;
      font-weight: normal;
      font-size: 10px;
      line-height: 20px;

      @media screen and (min-width: $lg) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    td {
      border-bottom: 1px solid #24126a;
      font-size: 12px;
      line-height: 24px;

      @media screen and (min-width: $lg) {
        font-size: 19px;
      }
    }

    .icon {
      width: 20px;

      @media screen and (min-width: $md) {
        width: 30px;
      }
    }

    .symbol {
      width: 50px;

      @media screen and (min-width: $md) {
        width: auto;
      }
    }
  }
}
