<section id="about" class="about wrapper margin">
  <div class="block first d-flex flex-column justify-content-center align-items-end padding padding-right">
    <h2
      class="title about__title light"
      data-aos="fade-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      ABOUT US
    </h2>
    <p
      class="light text-right"
      data-aos="fade-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1200"
      data-aos-once="true"
    >
      Pegasus is as simple, as DeFi gets. Let our protocol replace your efforts and extensive research needed to get the
      best returns.
    </p>
  </div>
  <div class="block second d-flex flex-column justify-content-center align-items-start padding padding-left">
    <p
      class="light"
      data-aos="fade-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1400"
      data-aos-once="true"
    >
      The Pegasus Smart contracts will automatically choose the best strategy based on on-chain data analytics and route
      your assets to earn the best yield possible.
    </p>
  </div>
  <div class="block third d-flex flex-column justify-content-center align-items-end padding padding-right">
    <p
      class="light text-right"
      data-aos="fade-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="1100"
      data-aos-once="true"
    >
      Pegasus is an easy-to-use DeFi Aggregation Ecosystem which automatically invests into the protocols with the most
      yield.
    </p>
  </div>
  <div class="about__buttons row padding padding-right">
    <div class="col"></div>
    <div class="col">
      <button class="button button_flat-light col-xs-6">DOCUMENTATION</button>
      <button class="button button_flat-dark col-xs-6" routerLink="/dashboard">OPEN APP</button>
    </div>
  </div>
</section>
